{% extends "layout.html" %}

{% block content %}
    <script>
        let quiz_num = {{quiz_num}}
    </script>

    <!-- Quiz Start page with Start button -->
    <div class="sections-wrapper" id="sections-page">
        <div class="wrapper justify-content-center">
            <div class="row">
                <div class="section">
                    <h2>Test Yourself!</h2>
                    <h4>There are {{quiz_num}} questions in this quiz.</h4>
                    <div class="quiz_start_stat">
                        <a href="/quiz/1" class="custom-btn btn-type-1 px-4 mx-3">Start</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
