{% extends "quiz_learn_template.html" %}

{% block quizlearncontent %}

<div class="section-wrapper tutorial-page">
  <div class="section section-left">
    <h2>
      {{item.heading}}
    </h2>
    {% for t in item.text %}
    <p>
      {{t}}
    </p>
    {% endfor %}
    {% if "list" in item %}
    <ol>
      {% for i in item.list  %}
        <li>
          <h4 class="font-weight-bold">{{i.heading}}</h4>
          <p>{{i.text}}</p>
        </li>
      {% endfor %}
    </ol>
    {% endif %}
  </div>
  <div class="section section-right">
    <img class="section-image" src="{{item.image}}" alt="Holding the Glass">
  </div>
  <div class="cta-buttons center-abs">
    <a href="/quiz/{{quiz_id}}{{item.previous}}" class="custom-btn btn-type-1 px-4">
      <
    </a>
    <a href="/quiz/{{quiz_id}}{{item.next}}" class="custom-btn btn-type-1 px-4">
      >
    </a>
  </div>
</div>

{% endblock %}
