<!--Summary Page for every section-->

{% extends "layout.html" %}

{% block content %}

{% if quiz_id is defined %}
  <!-- If navigated from quiz page, update the page so the user can go back to the quiz question -->
  <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_learn_template.js') }}"></script>
  <script>
      let item = {{item|tojson}}
      let quiz_id =  {{quiz_id}}
  </script>
  <div id="back" class="custom-btn btn-type-3">Go back to quiz</div>
{% endif %}

<div class="section-summary-page">
  <h1 class="text-center">{{item.heading}}</h1>
  {% for i in item.text %}
    <p class="pt-4">{{i}}</p>  
  {% endfor %}
  {% if "steps" in item %}
  <ol>
    {% for step in item.steps %}
      <li class="px-1 py-2">{{step}}</li>
    {% endfor  %}
  </ol>
  {% endif  %}
  <div class="cta-buttons center-abs">
    <a href="{{item.previous}}" id="previous" class="custom-btn btn-type-1 px-4">
      Previous Page
    </a>
    <a href="{{item.next}}" id="next" class="custom-btn btn-type-1 px-4">
      Next Section
    </a>
  </div>
</div>

{% endblock %}
