/* Home Page */
#home .home-title {
    font-weight: 900;
    font-size: 5rem;
}

#home p {
    font-size: 1.4rem;
    font-weight: 400;
}

/* Quiz */
#question {
    margin-top: 50px;
    margin-bottom: 50px;
}
.mcq_choice_label {
    margin-left: 20px;
}
.mcq_choice {
    margin-bottom: 8px;
}
#mcq_side_image {
    margin-bottom: 10px;
}