/* @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap'); */

/* Quiz */
body {
    font-family: "Playfair Display", sans-serif;
}

.container.container-full-height {
    min-height: 80vh;
}

.container.container-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Quiz template */
#question {
    align-items: baseline;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2rem;
    height: 2.8rem; /* Needs to be greater than or equal to Learn button's height*/
}
#quizactions {
    margin-top: 50px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#learn {
    float: right;
}
/* General */
.correct {
    background-color: #63a671 !important;
    color: #fff;
}
.incorrect {
    background-color: #f8464c !important;
    color: #fff;
}
#submit_feedback {
    text-align: center;
    margin-top: -15px;
    color: #f8464c;
    height: 1rem;
}
/* Quiz type: mcq */
.match_choice_label.correct, .match_choice_label.incorrect {
    color: #fff;
    border: 1px solid transparent;
}

.mcq_choice {
    margin-bottom: 8px;
    padding: 0.5rem;
    padding-left: 2rem;
    width: 600px;
}
.quiz-radio-label {
    font-size: 1.3rem;
    padding-left: 20px;
}

.form-check.correct > .form-check-input:disabled~.form-check-label {
    color: #fff;
}

.form-check.incorrect > .form-check-input:disabled~.form-check-label {
    color: #fff;
}

.quiz-row {
    justify-content: center;
    column-gap: 2rem;
}
/* Quiz type: mcq with side image */
#mcq_side_image {
    margin-bottom: 10px;
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.quiz-image {
    height: 350px;
    width: auto;
    cursor: pointer;
}
.custom-radio-button {
    width: 2em;
    height: 2em;
    border: 0;
}

.custom-radio-button-small {
    width: 1.4em;
    height: 1.4em;
    border: 0;
}

/* Quiz type: match */
.match_choice_label {
    text-align: center;
    padding: 0.7rem 1rem;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    width:300px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: inline-block;
    user-select: none;
    font-size: 1.3rem;
}
.match_choice_dot {
    margin-left: 30px;
    margin-right: 30px;
    height: 15px;
    width: 15px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
}
.match_choice_dot_hover:hover {
    outline: none;
    transition: 0.2s ease;
    background-color: gray;
    cursor: pointer;
}
.match_canvas {
    display: block;
    position: fixed;
}
.drop_rect {
    width:100%;
    height:300px;
    background:white;
    border: 1px black solid;
}
.drag_items {
    background-color: white;
    margin-top: 10px;
    padding: 5px;
}
.dropped_items {
    background-color: #f9f5f1;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropped_items.correct > .remove-drag, .dropped_items.incorrect > .remove-drag {
    display: none;
}
.remove-drag {
    background: transparent;
    border: none;
    color: #000;
    cursor: pointer;
}
.image_choice_container {
    display: inline-block;
    padding: 15px;
    height: 100%;
    width: 70%;
    align-items: center;
    justify-content: center;
}
.image_choice {
    width: 100%;
}
.image_button {
    text-align: center;
    padding: 1rem 0;
}
.center_item {
    text-align: center;
}

.quiz_start_stat {
}

  
