{% extends "layout.html" %}

{% block content %}

<!-- home page -->
<div class="section-wrapper" id="home">
  <div class="section section-left">
    <h1 class="home-title">Wine Tasting</h1>
    <p>
      We teach you the basics of the subtle art of wine tasting. Learn everything from holding a glass of wine to how to identify different types of wine. After all, life is too short to drink bad wine!
    </p>
    <div class="actions mt-4">
      <a href="/learn" class="custom-btn btn-type-1 mr-md-2 py-md-3">
          I Want to Learn
      </a>
      <a href="/quiz/start" class="custom-btn btn-type-1 ml-md-2 py-md-3">
          Test My Knowledge
      </a>
    </div>
  </div>
  <div class="section section-right">
    <img class="section-image" src="/static/img/winery-35.png" alt="Wine Bottle">
  </div>
</div>

{% endblock %}
