{% extends "layout.html" %}

{% block content %}

<!-- home page -->
<div class="section-wrapper" id="home">
  <div class="section section-left">
    <h1 class="home-title">Wine Tasting</h1>
    <p>
      We teach you the basics of the subtle art of wine tasting. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Insert funny quote here.
    </p>
    <div class="actions mt-4">
      <a href="/learn" class="custom-btn btn-type-1 mr-2 py-3">
          I Want to Learn
      </a>
      <a href="/quiz/start" class="custom-btn btn-type-1 ml-2 py-3">
          Test My Knowledge
      </a>
    </div>
  </div>
  <div class="section section-right">
    <img class="section-image" src="/static/img/winery-35.png" alt="Wine Bottle">
  </div>
</div>

{% endblock %}
