{% extends "layout.html" %}

{% block content %}
    <script>
        let quiz_num = {{quiz_num}}
    </script>

    <!-- Quiz Start page with Start button -->
    <div class="container">
        <div class="row">
            <div class="col-12 center_item quiz_start_stat">
                <h2>Test Yourself!</h2>
            </div>            
        </div>
        <div class="row">
            <div class="col-12 center_item">
                There are {{quiz_num}} questions in this quiz.
            </div>            
        </div>
        <div class="row">
            <div class="col-12 center_item quiz_start_stat">
                <a href="/quiz/1" class="custom-btn btn-type-1 mx-2 center_item">Start</a>
            </div>
        </div>
    </div>

{% endblock %}
