{% extends "quiz_template.html" %}

{% block quizcontent %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_drag_drop.js') }}"></script>
    
    <div class="row">
        <div class="col-md-1 col-sm-1"></div>
        <div class="col-md-4 col-sm-10">
            <div id="drop_box" class="drop_rect"></div>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4 col-sm-10" id="drag_item">
        </div>
        <div class="col-md-2 col-sm-1">
            <button type="button" id="revert">Revert</button>
        </div>
    </div>
    
{% endblock %}