{% extends "layout.html" %}

{% block content %}
    <script type="text/javascript" src="{{ url_for('static', filename = 'quiz_learn_template.js') }}"></script>
    <script>
        let item = {{item|tojson}}
        let quiz_id =  {{quiz_id}}
    </script>

    <!-- Insert button to go back to quiz -->
    <!-- <a href="/quiz/{{quiz_id}}" class="custom-btn btn-type-3">Go back to quiz</a> -->
    <div id="back" class="custom-btn btn-type-3">Go back to quiz</div>
    {% block quizlearncontent %}
    {% endblock %}
        
{% endblock %}
